html, body {
  margin: 0px;
  padding 0px;
}

#wrapper {
  max-width: 600px;
  margin: auto;
}

iframe {
  display: block;
  width: 100%;
  border: none;
  background-color: #def;
  border-radius: 1em;
}

a {
  color: darkorange;
  text-decoration: none;
}
