body, html, h1, ul, li {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 1em;
  padding: 0.25em;
  text-align: center;
}

ul {
  list-style: none;
  padding: 0 1em;
}

li {
  margin-top: 0.2em;
}

a {
  color: darkorange;
  text-decoration: none;
}
